// Color Variables
// Default values.
// $primary-color: #5AB51E;
// $text-color: #333333;
$text-color-dark: #691bcf;
$body-color: #fff;
$border-color: #D1D1D1;
//$black: #000;
$black: rgba(41, 177, 41, 0.133);
$white: #fff;
$light: rgb(223, 223, 223);

// ZoLi logo colors:
$logo-font-color: #bc9c22; //
$logo-background-light: #fbcbea;
$logo-background-medium: #fbe3ed;
$logo-background-dark: #f9cbe2;

// from logo
//$primary-color: #ff00ff; // fuchsia
$primary-color: #f9cce5;
// dark gold
$text-color: #867320;
$text-color: $logo-font-color;


// $primary-gradient: linear-gradient(27deg, rgb(180, 53, 70) 0%, rgb(210, 57, 159) 100%);
$primary-gradient: linear-gradient(27deg, $logo-background-light 0%, $logo-background-dark 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';